manifest {
    name            = 'MetaGOflow'
    author          = 'EMO BON team'
    homePage        = 'https://github.com/emo-bon/MetaGOflow'
    description     = 'Marine Genomic Observatories metagenomics workflow'
    mainScript      = 'main.nf'
    nextflowVersion = '>=24.04.0'
    version         = '2.0.0-nextflow'
}

params {
    help                         = false
    reads                        = null
    db_dir                       = null
    interproscan_data_dir        = null
    eggnog_data_dir              = null
    eggnog_database              = null
    eggnog_diamond_database      = null
    hmm_database                 = null
    hmm_database_dir             = null
    ko_description_file          = null
    outdir                       = 'results'
    publish_mode                 = 'copy'
    ro_crate                     = true

    qc_and_merge_step            = true
    taxonomic_inventory          = true
    cgc_step                     = false
    reads_functional_annotation  = false
    assemble                     = false

    threads                      = 5
    interproscan_threads         = 4
    max_memory                   = '128 GB'
    max_cpus                     = 64
    max_time                     = '7d'

    detect_adapter_for_pe        = false
    overrepresentation_analysis = false
    min_length_required          = 100
    force_polyg_tail_trimming    = false
    base_correction              = false
    qualified_phred_quality      = null
    unqualified_percent_limit    = null
    disable_trim_poly_g          = true
    overlap_len_require          = 30
    cut_right                    = true

    min_contig_len               = 200
    megahit_memory               = 0.9
    cgc_chunk_size               = 50
    protein_chunk_size_IPS       = 250000
    protein_chunk_size_eggnog    = 4000000
    protein_chunk_size_hmm       = 4000000

    processed_reads              = null
    input_for_motus              = null
    maskfile                     = null
    processed_read_files         = null
    predicted_faa_from_previous_run = null

    ssu_label                    = 'SSU_rRNA'
    lsu_label                    = 'LSU_rRNA'
    pattern_5s                   = 'mtPerm-5S'
    pattern_5_8s                 = '5_8S_rRNA'
    other_ncrna_models           = []
    interproscan_applications    = ['Pfam','NCBIfam','PrositePatterns','ProSiteProfiles']
    interproscan_output_formats  = ['TSV']
    hmm_gathering_bit_score      = true
    hmm_omit_alignment           = true
}

process {
    executor = 'local'
    cpus     = { Math.min(params.threads as int, params.max_cpus as int) }
    memory   = '4 GB'
    time     = '24h'
    errorStrategy = { task.exitStatus in [137,143] ? 'retry' : 'terminate' }
    maxRetries = 1

    withLabel: light {
        cpus   = 1
        memory = '1 GB'
        time   = '2h'
    }
    withLabel: medium {
        memory = '8 GB'
        time   = '24h'
    }
    withLabel: heavy {
        memory = { params.max_memory }
        time   = { params.max_time }
    }
}

docker.enabled = false
singularity.enabled = false
apptainer.enabled = false

profiles {
    docker {
        docker.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "${baseDir}/.singularity"
    }
    apptainer {
        apptainer.enabled = true
        apptainer.autoMounts = true
        apptainer.cacheDir = "${baseDir}/.apptainer"
    }
    slurm {
        process.executor = 'slurm'
        executor.queueSize = 100
    }
    test {
        params.reads = "${baseDir}/test_input/wgs-paired-SRR1620013_{1,2}.fastq.gz"
        params.outdir = "${baseDir}/results-test"
        params.taxonomic_inventory = false
        params.cgc_step = false
        params.reads_functional_annotation = false
        params.assemble = false
        process.maxForks = 2
    }
}

timeline.enabled = true
timeline.file = "${params.outdir}/pipeline_info/timeline.html"
timeline.overwrite = true
report.enabled = true
report.file = "${params.outdir}/pipeline_info/report.html"
report.overwrite = true
trace.enabled = true
trace.file = "${params.outdir}/pipeline_info/trace.txt"
trace.overwrite = true
dag.enabled = true
dag.file = "${params.outdir}/pipeline_info/dag.html"
dag.overwrite = true
